

{deps,
 [
  {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
  {uuid, ".*", {git, "https://github.com/okeuday/uuid.git", {tag, "v1.3.1"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.0.4"}}},
  {riakc_poolboy, ".*", {git, "https://github.com/puzza007/riakc_poolboy", {tag, "1.2.4"}}},
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy.git", {tag, "1.0.0"}}},
  {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager, getopt, bear, folsom, ibrowse, riakc, riak_pb, mochiweb, protobuffs, velvet, goldrush]}.

{escript_emu_args, "%%! +K true\n"}.
%% Use this for the Java client bench driver
%% {escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
{escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
